.dashboard {
    width: 100%;
    height: 100vh;
}

.dashboard__body {
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.btn__newTask {
    background-color: #f1c70ad0;
    display: inline;
    padding: 1rem 2rem;
    border-radius: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    text-align: center;
    color: #2F4858;
    cursor: pointer;
}

.btn__newTask:hover {
    font-size: larger;
}

.today_date {
    text-align: center;
    padding: 1.5rem;
    font-size: xx-large;
}

.taks_list {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
}

.task_single {
    background-color: bisque;
    padding: 1.5rem 20rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 6px #888888;
    display: flex;
    justify-content: space-between;
}