.login {
    background-color: #ebc985;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 8px #888888;
    display: flex;
}

.container__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__right img {
    width: 80%;
}

.form-container {
    width: 80%;
    transform: translateY(-20px);
	transition: all 0.6s ease-in-out;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 0.7rem 0;
    margin-top: 3rem;
    background-color: #ebc985;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: gray;
}