.navbar {
    background-color: #f1c70ad0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #2F4858;
    padding: 0 1rem;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    margin: 0 0.5rem;
    cursor: pointer;
}

.navbar li:hover {
    color: white;
}