* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  height: 100vh;
  background: url('./images/work-bg.jpeg') center no-repeat;
  background-size: cover;
  position: relative;
}

.app__bgGradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.app__main {
  position: absolute;
  top: 40%;
  z-index: 1;
  color: #fff;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__main h1 {
  font-size: 4rem;
}

.app__main p {
  font-size: 1.5rem;
}

.btn {
  display: inline;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 6px 25px;
  border-radius: 30px;
  width: 20%;
  margin-top: 30px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}